In [1]:
import numpy as np
import pandas as pd

In [3]:
walk1=pd.read_csv("cleaned/walk1.csv")

walk2=pd.read_csv("cleaned/walk2.csv")

walk3=pd.read_csv("cleaned/walk3.csv")

walk4=pd.read_csv("cleaned/walk4.csv")

walk5=pd.read_csv("cleaned/walk5.csv")

walk6=pd.read_csv("cleaned/walk6.csv")

walk7=pd.read_csv("cleaned/walk7.csv")

walk8=pd.read_csv("cleaned/walk8.csv")

walk9=pd.read_csv("cleaned/walk9.csv")

walk10=pd.read_csv("cleaned/walk10.csv")

                   Time;AccX;AccY;AccZ;Acc-old;Acc-trns
0     50:58.7;-0.03405944429055476;-0.19310885194218...
1     50:58.7;-0.054152416936064776;-0.2176797228888...
2     50:58.7;-0.07224362761308101;-0.24060635272600...
3     50:58.8;-0.0868903947049437;-0.260312434039851...
4     50:58.8;-0.09681479039773745;-0.27580538086621...
...                                                 ...
1832  51:25.5;-0.13969852978690359;-0.45178592975912...
1833  51:25.5;-0.14644405464191088;-0.41964367906943...
1834  51:25.5;-0.15260517925303665;-0.38707726680982...
1835  51:25.5;-0.1580782615803545;-0.354912049805350...
1836  51:25.5;-0.16286528358758462;-0.32379828939310...

[1837 rows x 1 columns]